* {
  margin: 0;
  padding: 0;
}

.media img {
  max-width: 500px;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

nav {
  display: flex;
  gap: 20px;
}