* {
  margin: 0;
  padding: 0;
}

.media img {
  max-width: 400px;
  border-radius: 20px;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 7.5%;
}

header,
footer {
  background: #1f2937;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

nav {
  display: flex;
  gap: 20px;
}

.hero {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.media {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

#logo,
button,
h1 {
  color: #f9faf8;
}

#logo {
  font-size: 24px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

.content p {
  font-size: 18px;
  color: #e5e7eb;
}

button,
.alert {
  background: #3882f6;
  border: #3882f6;
}

button {
  padding: 7px;
  border-radius: 5px;
}

#info {
  text-align: center;
  padding: 0 0 100px 0;
}

#info img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 15px;
}

#info h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 800;
  margin: 50px 0;
}

.flex-container {
  display: flex;
  margin: 0 auto;
}

.flex-item {
  text-align: center;
}

blockquote p {
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
}